<%= render 'shared/page_title', title: "All blogs by all users" %>

<% if logged_in? %>
  <div class="row justify-content-md-center">
  <%= link_to "Create a blog", new_user_blog_path(current_user), class: "btn btn-primary m-2 p-3" %>
  </div>
  <hr></hr>
<% end %>

<% @blogs.each do |i| %>
  <div class="card m-auto" style="width: 50rem;">
    <%= link_to user_blog_path(i.user, i) do %>
      <% if i.image != nil %>
        <%= image_tag (i.image.url), class: "card-img-top" %>
      <% end %>
    <% end %>
    <div class="card-body">
      <%= link_to i.title, user_blog_path(i.user, i), class: "card-title" %>
      <p class="card-text"><%= truncate(i.content, length: 50) %></p>
    </div>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Created by <%= i.user.username %></li>
      <li class="list-group-item"><%= rand(11).to_s + ' views' %></li>
    </ul>
    
    <% if current_user == i.user %>
      <%= link_to "Delete this blog", user_blog_path(current_user, i), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger m-2" %>
    <% end %>
  </div>
<% end %>

