<div class = "middle">
    <h1>Albums</h1>
    <br/>
</div>

<div class="container">
    <div class = "left">
        <%= image_tag("spring1.jpg", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">SPRING</p> 
        <p class = "text-about">Creator: Lư Hán Luân</p>
        <%= link_to "More", "/albums/spring", :class => "text-more" %>
    </div>
    <div class = "right">
        <%= image_tag("summer1.jpg", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">SUMMER</p>
        <p class = "text-about">Creator: Lư Hán Luân</p>
        <%= link_to "More", "/albums/summer", :class => "text-more" %>
    </div>
</div>

<div class="container">
    <div class = "left">
        <%= image_tag("fall1.png", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">FALL</p>
        <p class = "text-about">Creator: Đào Chí Minh</p>
        <%= link_to "More", "/albums/fall", :class => "text-more" %>
    </div>
    <div class = "right">
        <%= image_tag("winter1.jpg", :alt => "rss feed", :class => "imageabout") %>
        <p class = "text-header-about">WINTER</p>
        <p class = "text-about">Creator: Đào Chí Minh</p>
        <%= link_to "More", "/albums/winter", :class => "text-more" %>
    </div>
</div>